.swiper {
  margin-right: 0;
  margin-left: 0;
}

.swiper__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
